{% load static %}

<!DOCTYPE html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/background.jpg' %}");
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1,
        h3 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif text-align: center;
        }
    </style>

</head>

<body>
    <nav>
        <img src="{% static 'recipes/images/food_logo.png' %}" alt="logo" height="200px" width="200px">
    </nav>
    <h1>Login to MoodForFood</h1>
    {% if error_message %}
    {{error_message}}
    {% endif %}

    <form class="from-login" action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Login</button>
    </form>
</body>

</html>