{% load static %}
<!DOCTYPE html>

<head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/background.jpg' %}");
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <nav>
        <img src="{% static 'recipes/images/food_logo.png' %}" alt="logo" height="200px" width="200px">
    </nav>

    <div class="auth-modal">
        <h3>You have successfully logged out!</h3>
        <button class="custom-button"><a href="{%url 'login' %}">Login</a></button>
    </div>

</body>

</html>