{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipes List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/background.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="nav-bar">
        <div class="navbar-left">
            <img src="{% static 'recipes/images/food_logo.png' %}" alt="logo" height="100px" width="100px">
        </div>
        <div class="navbar-right">
            <a href="{% url 'recipes:search' %}">Search</a>
            <h1></h1>
            <a href="{%url 'logout' %}">Logout</a>
        </div>
    </div>

    <h1>Recipes List</h1>
    <div class="recipe-grid">
        {% for object in object_list %}
        <a href="{{object.get_absolute_url}}">
            <div class="recipe-card">
                <img src="{{object.pic.url}}" class="recipe-image">
                <h3>{{object.name}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>